
      <div class="card bg-info text-white">
          <div class="card-body">Cargar archivo de EXCEL</div>
        </div>
      <br>
      <br>

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div>
      
      <input type="file" class="btn btn-success" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
      <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>

  </div>
<div>
    <button class="btn btn-outline-danger">LogOut</button>
  </div>
  </nav>

<!-- <mat-form-field>
  <input matInput placeholder="Segundo Nombre ">
</mat-form-field>

<mat-form-field floatPlaceholder="never">
  <input type="text" matInput placeholder="Hola">
</mat-form-field>
<div>


  <input type="file" onchange="show(this.files)" accept=".csv" value="Read csv" placeholder="Cargar Arcivo CSV" id="csvUploadFile">


<button (click)="show()"> Ver CSV</button>
</div>

<div>
  <nvd3 [options]="options" [data]="data"></nvd3>
</div> -->