<div class="card bg-info text-white">
  <div class="card-body">Cargar archivo de EXCEL</div>
</div>
<br>
<br>

<div class="row">
  <div class="col-5">

    <mat-card>
      <!-- <mat-card-title> Listado de intems </mat-card-title> -->

      <mat-card-content>
        <div class="container">
          <mat-card>
            <form [formGroup]="form">
              <mat-card-content>
                <div class="example-container">
                  <mat-form-field>
                    <mat-select placeholder="Periodo" formControlName='period'>
                      <mat-option *ngFor="let period of periodList" [value]="period">
                        {{ period }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Meta" aria-label="Number" matInput formControlName='goal'
                      [matAutocomplete]="autoGoal">
                    <mat-autocomplete #autoGoal="matAutocomplete">

                      <mat-option *ngFor="let goal of filteredOptions | async"
                        [value]="goal.identificador_meta+ emptyString +goal.nombre_meta">
                        {{goal.identificador_meta}} {{goal.nombre_meta}}
                      </mat-option>

                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Indicador" aria-label="Number" matInput formControlName="indicator"
                      [matAutocomplete]="autoIndicator">
                    <mat-autocomplete #autoIndicator="matAutocomplete">
                      <mat-option *ngFor="let indicator of filteredOptionsForIndicators | async"
                        [value]="indicator.identificador_indicador+ emptyString +indicator.nombre_indicador">
                        {{indicator.identificador_indicador}} {{indicator.nombre_indicador}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Asignatura" aria-label="Number" matInput formControlName="subject"
                      [matAutocomplete]="autoCourse">
                    <mat-autocomplete #autoCourse="matAutocomplete">

                      <mat-option *ngFor="let course of filteredOptionsForCourse | async"
                        [value]="course.codigo+ emptyString +course.nombre_asignatura">
                        {{course.codigo}} {{course.nombre_asignatura}}
                      </mat-option>

                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Grupo" formControlName="group">
                      <mat-option *ngFor="let group of groupList" [value]="group">
                        {{ group.numero_grupo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Evaluación" aria-label="Number" matInput
                      formControlName="evaluation" [matAutocomplete]="autoEvaluationType">
                    <mat-autocomplete #autoEvaluationType="matAutocomplete">

                      <mat-option *ngFor="let evaluationType of filteredOptionsForEvaluationsType | async"
                        [value]="evaluationType">

                        {{evaluationType}}
                      </mat-option>

                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Actividad" aria-label="Number" matInput
                      formControlName="activity" [matAutocomplete]="autoActivityType">
                    <mat-autocomplete #autoActivityType="matAutocomplete"
                      >

                      <mat-option *ngFor="let activityType of filteredOptionsForActivitiesType | async"
                        [value]="activityType">
                        {{activityType}}
                      </mat-option>

                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </mat-card-content>

              <div>
                  <input type="file" style="display: inline-block;" (change)="incomingfile($event)"
                    placeholder="Cargar Lista" accept=".xlsx">
                  <button type="submit" class="btn btn-info" [disabled]="!isFile " (click)="upload()">Enviar</button>
              </div>

            </form>
          </mat-card>


         
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  <!--  <div class="col-7">
    <app-uploadData-list [courseId]="courseSelected.id_asignatura" [groupId]="groupSelected.id_grupo"
      [indicatorId]="indicatorSelected.id_indicador" [periodType]="periodSelected"
      [evaluationType]="evaluationSelected.tipo_evaluacion" [activityType]="activitySelected.tipo_actividad"
      [isChargeComplete]="isChargeComplete">
    </app-uploadData-list>
  </div> -->

</div>