<div class="card bg-info text-white">
    <div class="card-body">Visualización de Estadísticas</div>
</div>
<br>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            Filtro para las gráficas
        </div>

        <mat-card>
            <mat-card-content>
                <div class="example-container">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Filtro gráfica" aria-label="Number" matInput [formControl]="controlFilterTypeList" [matAutocomplete]="autoFilter">
                        <mat-autocomplete #autoFilter="matAutocomplete" (optionSelected)="saveFilterSelected($event.option.value)">

                            <mat-option *ngFor="let filterType of filteredOptionsForFilterTypeList | async" [value]="filterType" (click)="saveFilterSelected(filterType)">
                                {{filterType}}
                            </mat-option>

                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="container">

    <div *ngIf="flagFilters && flagCourse">
        <app-graphics-buttons></app-graphics-buttons>
        <H1>SI SELECCIONO ALGO Asignatura</H1>
    </div>

    <div *ngIf="flagFilters && flagIndicator">
        <app-graphics-buttons></app-graphics-buttons>
        <H1>SI SELECCIONO ALGO Indicador</H1>
    </div>

    <div *ngIf="flagFilters && flagPeriod">
        <app-graphics-buttons></app-graphics-buttons>
        <H1>SI SELECCIONO ALGO Periodo</H1>
    </div>

    <div *ngIf="!flagFilters">
        <div class="alert alert-info" role="alert">
            No ha seleccionado ningún tipo de filtro

        </div>
    </div>
</div>