<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
            Cargar Archivo
            Excel
        </mat-card-header>
          <img mat-card-image routerLink="/upload" routerLinkActive="active" src="assets/img/load_file.jpg" alt="Cargar archivo">
        <mat-card-content>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
            Ver Estadísticas
        </mat-card-header>
        <img mat-card-image routerLink="/statistics" routerLinkActive="active" src="assets/img/show_statistics.jpg" alt="Ver Estadísticas">
        <mat-card-content>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>


<router-outlet></router-outlet>