
<div mat-dialog-title><h1>¡Advertencia!</h1></div>
<div mat-dialog-content>
  <p>Por favor verifique que la información ingresada sea la correcta.<br>
      Los datos a ingresar al sistema son:</p>

  <h6>Periodo:</h6><p>{{data.periodSelected}}</p>
  <h6>Meta:</h6><p>{{data.goalSelectedIdentificador}} {{data.goalSelectedName}}</p>
  <h6>Indicador:</h6><p>{{data.indicatorSelectedIdentificador}} {{data.indicatorSelectedName}}</p>
  <h6>Asignatura:</h6><p>{{data.courseSelectedCode}}  {{data.courseSelectedName}}</p>
  <h6>Grupo:</h6><p>{{data.groupSelected}}</p>
  <h6>Evaluación:</h6><p>{{data.evaluationSelected}}</p>
  <h6>Actividad:</h6><p>{{data.activitySelected}}</p>
  <h6>Se agregarán: </h6><p>{{data.count}} calificaciones</p>

  
  <p>*Nota: Al subir la información no es posible modificarla posteriormente<br>
  <p>¿Está seguro de continuar con la operación?</p>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="confirm()">Confirmar</button>
</div>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->