<!-- <p>
  offers-new works!
</p> -->

<div class="card bg-info text-white">
  <div class="card-body">Visualización de Estadísticas</div>
</div>
<br>
<br>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"> -->

<nav>
  <button class="btn btn-primary" routerLink="graphic">Gráfica</button>
  <button class="btn btn-primary" routerLink="detail">Detalle</button>
  <br>
  <br>
  <br>
</nav>


<router-outlet></router-outlet>


<!-- <div class="card">
  <div class="card-body">
    <button class="btn btn-outline-danger">LogOut</button>
  </div>
</div> -->
<!-- 
<mat-card class="example-card"> -->

<nav>
  <br>


  <div>
    <button class="btn btn-outline-danger">LogOut</button>
  </div>
</nav>




<!-- </mat-card> -->
<!-- 
</nav> -->