<p>
  graphics-buttons works!
</p>

<router-outlet></router-outlet> 
<!-- <app-graphics-by-course-average></app-graphics-by-course-average> -->
<!-- <app-graphics-by-indicator-average></app-graphics-by-indicator-average> -->

<nav>
  <button class="btn btn-primary" routerLink="graphicCourse">Gráfica</button>
  <button class="btn btn-primary" routerLink="detailCourse">Detalle</button>
  <br>
  <br>
  <br>


  <nav>
    <br>
    <div>
      <button class="btn btn-outline-danger">LogOut</button>
    </div>
  </nav>

  <!-- <router-outlet></router-outlet> -->