<div class="main-div">
<mat-card class="z-depth center" flex="50">
  <div class="align-content: center"><h3 class="align-content: center">¡Cargando!</h3></div>
  <div class="align-content: center">
    <mat-spinner class="align-content: center"></mat-spinner>
    <br><p class="align-content: center">Subiendo datos, espere ...</p>
  </div>
</mat-card>
</div>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->