<div class="container">
    <div class="card">
        <div class="card-header">
            Promedios de Indicadores
        </div>

        <mat-card>
            <mat-card-content>
                <div class="example-container">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Asignatura" aria-label="Number" matInput [formControl]="controlCourse" [matAutocomplete]="autoCourse">
                        <mat-autocomplete #autoCourse="matAutocomplete" (optionSelected)="saveCourseSelected($event.option.value)">

                            <mat-option *ngFor="let course of filteredOptionsForCourse | async" [value]="course.codigo+ emptyString +course.nombre_asignatura">
                                {{course.codigo}} {{course.nombre_asignatura}}
                            </mat-option>

                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="container">

    <div *ngIf="flagGrades">
        <br>
        <br>
        <mat-card>
            <mat-card-content>
                <h2 class="example-h2">Tipo de gráfica Indicador</h2>
                <section class="example-section">
                    <label class="example-margin">Gráficas indicador:  </label>

                    <mat-radio-group [(ngModel)]="seleted">
                            <mat-radio-button *ngFor="let a of arrayRadioButtons" [value]="a"
                                         (change)="radioChange($event) ">
                                {{a}}
                            </mat-radio-button>
                        </mat-radio-group>
                </section>
            </mat-card-content>
        </mat-card>
        <br>
        <br>
 
        <div [chart]="chart"></div> 
    </div>

    <div *ngIf="!flagGrades">
        <div class="alert alert-info" role="alert">
            No se encuentran notas registradas para esta Asignatura

        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->